.slider img {
  width: 100%;
  filter: brightness(70%);
  height: 500px;
  object-fit: cover;
}
.slider h1 {
  z-index: 10;
}

.slideContainer {
  position: relative;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.sliderText {
  font-size: 18px; 
  line-height: 1.5;
  letter-spacing: 2px;
}

.shopNowButton {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-family: "Rubik", sans-serif;
}

.shopNowButton:hover {
  transition-delay: 0.1s;
  background-color: #e4563d;
  color: #ffffff;
}

.newArrivalsText {
  text-align: center;
  margin-top: -150px;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


