.slider img {
  width: 100%;
  filter: brightness(70%);
  height:500px;
  object-fit:cover;
}
.slider h1{
  z-index: 10;
}

.slideContainer {
  position: relative;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.sliderText {
  text-align: center;
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.shopNowButton {
  background-color: #FFFFFF;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-family: 'Rubik', sans-serif;
}

.shopNowButton:hover {
  transition-delay: 0.1s;
  background-color: #E4563D;
  color:#FFFFFF;
}

.newArrivalsText {
  text-align: center;
  margin-top: -150px;
  font-size: 3rem;
  color: #FFFFFF;
  font-weight:600;
  font-family: 'Rubik', sans-serif;
}
